input{
    padding: 15px;
    margin:10px 0px;
    border-radius: 15px;
    border: 1px solid gray;
    
}
.formInput{
    display: flex;
    flex-direction: column;
}
span{
    color:red;
    font-size: 12px;
    display:none;
    padding:3px;
}
input:invalid[fcused="true"]~span{
    display:block
}
input:invalid[focused==true]{
    border: 1px solid red;
}